// colors
$dark: #0B3040;
$light_blue: #82D1F3;
$blue: #23A5DF;
$red: #FA4545;
$green: #2FCBBB;
$purple: #B16EDF;
$yellow: #FFFCD9;
$light_gray: #F9F9F9;
$gray: #7F7F7F;
$off_white: #F5F9FD;


// sizing
$btn_radius: 4px;
$replication_width: 256px;