@import "../../styles/variables.scss";

.FullLayout {
  background-color: $dark;
  position: absolute;
  height: 100%;
  width: 100%;

  .Logo {
    height: 256px;

    text {
      fill: white;
    }
  }
}
