ul.SearchResults {
  padding: 10px;

  li.SearchResult {
    background-color: #EEE;
    color: #000;
    border-radius: 5px;
    border: 1px solid #CCC;
    padding: 10px;
    margin-top: 15px;
  }

  li.search_nav {
    .btn {
      padding: 5px;

      .icon {
        font-size: 30px;
        font-weight: bold;
        line-height: 25px;
      }

      &:hover {
        background-color: #EEE;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
