ul.SearchResults {
  padding: 10px;

  li.SearchResult {
    background-color: #EEE;
    color: #000;
    border-radius: 5px;
    border: 1px solid #CCC;
    padding: 10px;
    margin-top: 15px;
  }
}
