@import "../../styles/variables.scss";

.PageHeader {
  background-color: $dark;
  padding: 10px 20px 10px 10px;
  position: relative;
  line-height: 28px;

  .logoLink {
    text-decoration: none;
  }
  
  .Logo {
    width: 200px;
    height: 100px;
    display: inline-block;

    text {
      fill: white;
    }
  }

  .Notifications {
    height: 32px;
    width: 32px;
    display: inline-block;
  }
}
