@font-face {
    font-family: "Gibson";
    src: url("../fonts/gibson/gibson/webfonts/gibson.woff") format("woff"),
         url("../fonts/gibson/gibson/webfonts/gibson.ttf") format("truetype"),
         url("../fonts/gibson/gibson/webfonts/gibson.woff") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gibson-italic";
    src: url("../fonts/gibson/gibson-italic/webfonts/gibson-italic.woff") format("woff"),
         url("../fonts/gibson/gibson-italic/webfonts/gibson-italic.ttf") format("truetype"),
         url("../fonts/gibson/gibson-italic/webfonts/gibson-italic.woff") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gibson-semibold";
    src: url("../fonts/gibson/gibson-semibold/webfonts/gibson-semibold.woff") format("woff"),
         url("../fonts/gibson/gibson-semibold/webfonts/gibson-semibold.ttf") format("truetype"),
         url("../fonts/gibson/gibson-semibold/webfonts/gibson-semibold.woff") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gibson-semibold-italic";
    src: url("../fonts/gibson/gibson-semibold-italic/webfonts/gibson-semibold-italic.woff") format("woff"),
         url("../fonts/gibson/gibson-semibold-italic/webfonts/gibson-semibold-italic.ttf") format("truetype"),
         url("../fonts/gibson/gibson-semibold-italic/webfonts/gibson-semibold-italic.woff") format("svg");
    font-weight: normal;
    font-style: normal;
}

