$btn_radius: 4px;

// colors
$dark: #0B3040;
$light_blue: #82D1F3;
$blue: #23A5DF;
$red: #FA4545;
$green: #2FCBBB;
$purple: #B16EDF;
$yellow: #FFFCD9;
$gray: #7F7F7F;
$enamel: #F5F9FD;
$off_white: #F9F9F9;