@import "../variables.scss";

#ArticlePage {

  .articleHeader {
    .articleTitle {
      margin-top: 0;
    }

    .authors {
      color: $gray;
    }
  }

  .journal, .doi, .tags, .peerReview {
    h5 {
      color: $gray;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    p {
      margin: 0;
    }
  }

  .bookmark_article {
    color: $blue;
  }
}
