@import "../variables.scss";

#ArticlePage {

  .StudiesTable .errors > li {
    padding: 0;
  }

  .articleHeader {
    .articleTitle {
      margin-top: 0;
    }
  }

  .field:empty {
    height: 1em;
  }

  .authors .PillList .pill {
    color: black;
    background: none;
    border: 1px solid $gray;
    font-size: 16px;
    min-width: 40px;

    &:first-child {
      margin-left: 0;
    }
  }

  .journal, .doi, .year, .tags, .peerReview {
    h5 {
      color: $gray;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    p {
      margin: 0;
    }
  }

  .editButtons {
    float: right;
  }

  ul.reviewers {
    list-style: none;
  }

  p.abstract {
    line-height: 22px;
  }
}
