@import "../variables.scss";

#ArticlePage {

  .authors {
    color: $gray;
  }

  .journal, .doi, .keywords, .peerReview {
    h5 {
      color: $gray;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    p {
      margin: 0;
    }
  }

  .bookmark_article {
    color: $blue;
  }
}