@import "../variables.scss";

#SearchPage {
  height: 100%;
  min-width: 600px;

  .pageContent {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
  }

  table.filterAndResults {
    width: 100%;

    & > thead {
      text-align: left;
      border-bottom: 1px solid $gray;

      th {
        padding: 10px 20px;
      }

      th:first-child {
        border-right: 1px solid $gray;
        padding-left: 30px;
        width: 200px;
      }

      ul.sortBy {
        float: right;

        li {
          display: inline-block;
          padding: 3px 5px;

          &:not(:first-child) {
            cursor: pointer;
          }

          &.active {
            background: $blue;
            color: white;
            border-radius: $btn_radius;
          }
        }
      }
    }

    & > tbody > tr > td {
      vertical-align: top;

      &:last-child {
        width: 100%;
      }

      &:first-child {
        border-right: 1px solid $gray;
        background-color: $light_gray;

        li {
          padding-left: 30px;
        }
      }
    }
  }

  td.filter > ul {
    list-style: none;
    width: 100%;

    & > li {
      padding: 10px;
      border-bottom: 1px solid $gray;
    }

    label {
      display: block;
      white-space: nowrap;
    }

    button.active {
      background-color: $blue;
    }
  }
}
