h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 14px;
}

h6, .h6 {
  font-size: 12px;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.dim {
  opacity: 0.5;
}

.pull_right {
  float: right !important;
}

.inline_block {
  display: inline-block !important;
}

.link {
  text-decoration: underline !important;
}

.hide {
  display:none !important;
}

.dropdown {
  position: relative;
}

.dropdown_menu {
  position: absolute;
  min-width: 90%;
  background-color: #FFFFFF;
  border: 1px solid #000000;

  li:hover {
    background-color: #EEEEEE;
  }
}

.btn_subtle {
  border: none;
  background: none;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.no_outline {
  outline: none;
}

.page .content {
  padding-left: 10px;
  padding-right: 10px;
}
