header {
  background-color: #686868;
  padding: 20px 20px 10px 20px;
  position: relative;
  line-height: 28px;

  .company_name {
    margin-right: 20px;
    font-size: 28px;
    color: #FFFFFF;
    text-decoration: none;
  }

  .user_dropdown {
    position: absolute;
    right: 10px;

    button {
      font-size: 14px;
      font-weight: bold;
      color: #FFFFFF;

      &:hover {
        background-color: #828282;
      }
    }
  }
}

.header_search {
  line-height: 28px;

  input {
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
  }
}

// GENERAL

.text_center {
  text-align: center;
}

.pull_right {
  float: right !important;
}

.inline_block {
  display: inline-block !important;
}

.link {
  text-decoration: underline !important;
}

.hide {
  display:none !important;
}

.dropdown {
  position: relative;
}

.dropdown_menu {
  position: absolute;
  min-width: 90%;
  background-color: #FFFFFF;
  border: 1px solid #000000;

  li:hover {
    background-color: #EEEEEE;
  }
}

.btn_subtle {
  border: none;
  background: none;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.no_outline {
  outline: none;
}
