/* Stiziles */

html, body {
  height: 100%;
}

body {
  background-image: url("../images/library_of_alexandria.jpg");
  width: 80%;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* main */

.main {
  width: 100%;
  height: 100%;
}

.main img {
  width: 103px;
  height: 89px;
  margin-bottom: 10px;
  text-align: center;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

.search-result {
  background-color: #EEE;
  color: #000;
  border-radius: 5px;
  border: 1px solid #CCC;
  padding: 10px;
  margin-top: 15px;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

.h1 {
  font-size: 200%;
}

.h2 {
 font-size: 180%; 
}

.h3 {
  font-size: 160%;
}

.h4 {
 font-size: 140%; 
}
.h5 {
  font-size: 120%;
}

.h6 {
 font-size: 100%; 
}