@import "../variables.scss";

.DefaultLayout {
  position: absolute;
  width: 100%;

  & > header {
    margin-bottom: 20px;
    line-height: 28px;

    .banner {
      width: 100%;
      background-color: $dark;
      padding: 10px 20px 10px 10px;
      position: relative;
    }

    .bannerLogo {
      width: 200px;
    }

    .bannerUserBar{
      width: 70px;
      padding-right: 30px;
    }

    .Search {
      position: relative;
      margin-right: 50px;

      input {
        height: 45px;
        font-size: 24px;
        width: 100%;
        box-sizing: border-box;
      }
    }

    .logoLink {
      text-decoration: none;

      &:focus {
        outline: none;
      }
    }

    .Logo {
      width: 200px;
      height: 100px;
      display: inline-block;

      text {
        fill: white;
      }
    }

    .Notifications {
      height: 32px;
      width: 32px;
      display: inline-block;
    }
  }

  .pageContent {
    position: relative;
    min-height: 100px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .feedbackToggle {
    transform-origin: right bottom 0;
    background-color: $dark;
    color: white;
    border-radius: $btn_radius $btn_radius 0 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: fixed;
    right: 0;
    top: 60%;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }

  .feedbackModal {
    .modalContent {
      padding: 20px;
    }
  }
}
