@import "../variables.scss";

.DefaultLayout {
  position: absolute;
  width: 100%;

  & > header {
    margin-bottom: 20px;

    .banner {
      width: 100%;
      background-color: $dark;
      padding: 10px 20px 10px 10px;
      position: relative;
      line-height: 28px;
    }

    .logo_td {
      width: 200px;
    }

    .user_bar_tr {
      width: 70px;
    }

    .Search {
      position: relative;
      padding: 10px 3%;

      input {
        height: 35px;
        font-size: 24px;
        width: 100%;
      }
    }

    .logoLink {
      text-decoration: none;
    }

    .Logo {
      width: 200px;
      height: 100px;
      display: inline-block;

      text {
        fill: white;
      }
    }

    .Notifications {
      height: 32px;
      width: 32px;
      display: inline-block;
    }
  }

  & > .content {
    position: relative;
    min-height: 100px;
  }
}
