@import "../variables.scss";

.FullLayout {
  position: absolute;
  min-height: 100%;
  width: 100%;

  & > header {
    background-color: $dark;
    line-height: 28px;
  }

  a.logo {
    text-decoration: none;
  }

  .Logo {
    height: 256px;

    text {
      fill: white;
    }
  }
}
