@import "../variables.scss";

.CommentList {
  margin-top: 20px;
}

.Comment {
  .commentHeader {
    white-space: nowrap;
    text-overflow: ellipsis;

    & > * {
      line-height: 30px;
    }
  }

  .commentContent {
    overflow: hidden;
  }

  .CommentList {
    margin-left: 50px;
  }
}
