@import "../variables.scss";

.DropdownSelect {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 2px;
      border: 2px solid transparent;

      &:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      &:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    &:not(:hover) li.selected, li:hover {
      border: 2px solid $blue;
    }
  }

  .dropdownContent {
    padding: 10px;
  }
}
