@import "../mixins.scss";

.Dropdown {
  display: inline-block;
  position: relative;

  .dropdownContent {
    @include dropdown;
    box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.25);

    ul {
      list-style: none;
    }
  }
}
