@import "../variables.scss";

.Modal {
  background-color: white;
  width: 500px;
  height: 500px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid $gray;
  border-radius: $btn_radius;
  white-space: normal;
  overflow: hidden;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  z-index: 100;

  & > table, & > .modalWrapper > table {
    width: 100%;
    height: 100%;

    & > thead {
      background-color: $light_gray;
      & > tr > th {
        border-bottom: 1px solid $gray;

        td.modalHeading {
          width: 100%;
          padding: 10px 0px 10px 20px;

          &:last-child {
            padding-right: 20px;
          }
        }
        td.modalActions {
          vertical-align: top;
          padding: 5px;
        }
      }
    }

    & > tfoot {
      background-color: $light_gray;

      & > tr > td {
        border-top: 1px solid $gray;
        padding: 10px 20px;
      }
    }

    & > tbody {
      & > tr > td {
        vertical-align: top;
      }
    }
  }
}
