@import "../variables.scss";

ul.PillList {
  list-style: none;
  display: inline-block;

  & > li {
    display: inline-block;
  }

  .pill {
    .icon_removed {
      font-size: 18px;
    }

    .Typeahead {
      color: black;
    }
  }
}
