@import "../variables.scss";
$replication_width: 300px;

.ReplicationsTable {
  white-space: nowrap;

  .studies, .study, .details, .replications, .legend {
    display: inline-block;    
  }

  .legend {
    background-color: $light_gray;
    border: 1px solid $gray;

    .cell {
      text-align: right;
    }
  }

  .details, .legend {
    .cell {
      padding: 10px 20px;
      border-bottom: 1px solid $gray;

      &:not(.replicationPath) {
        border-right: 1px solid $gray;
      }
    }
  }

  .replications .study:last-child > .details .cell {
    border-right: 0;
  }

  .study:not(:first-of-type) > .details .cell:not(.replicationPath) {
    border-left: 1px solid $gray;
  }

  .replications .study:not(:first-of-type) > .details .cell {
    border-left: 0;
  }

  .replicationPath {
    height: 64px;
    padding-bottom: 0 !important;
    background-color: $light_gray;
  }

  .details .replicationPath {
    white-space: nowrap;
    position: relative;
    z-index: 0;
    background-image: url("../images/subway_study.png"), url("../images/subway_path.png");
    background-repeat: no-repeat;
    background-position: 50% 40px, right 0 top 40px;
    background-size: auto auto, 100% 7px;

    .add_replication {
      background-image: url("../images/subway_add.png");
      background-repeat: no-repeat;
      position: absolute;
      width: 25px;
      height: 38px;
      right: 40px;
      top: 40px;
    }

    .count {
      background: $blue;
      color: #FFF;
      line-height: 24px;
      margin-top: -10px;
      text-align: center;
      width: 30px;
      border-radius: 4px;
      position: absolute;
      right: 8px;
    }

    .replicationsCount {
      position: absolute;
      text-decoration: none;
      height: 44px;
      top: 20px;
      right: -8px;
      background-repeat: no-repeat;

      &:before {
        border: solid;
        border-color: $blue transparent;
        border-width: 6px 6px 0 6px;
        border-width: 6px 6px 0 6px;
        bottom: 24px;
        content: "";
        left: 0;
        position: absolute;
      }

      &.closed {
        background-image: url("../images/subway_replication_closed.png"), url("../images/subway_path.png");
        background-position: -2px 20px;
        width: 30px;
      }
    }
  }

  .replications .replicationPath {
    height: 74px;
    background-repeat: no-repeat, repeat-x;
    background-position: 50% 40px, 0 40px;
    position: relative;
    background-image: url("../images/subway_replication_open.png"), url("../images/subway_path.png");
  }

  .studies > .study:first-child > .details .replicationPath {
    background-size: auto auto, 50% 7px;
  }

  & > .study {

    &:last-child > .details .replicationPath {
      background-position: 50% 20px, left 0 top 20px;
      background-size: auto auto, 75% 7px;
    }
  }

  .authors {
    height: 70px;
  }

  .replications .authors {
    height: 60px;
  }

  .badges {
    height: 70px;
  }

  .independentVariables, .dependentVariables, .n, .power, .effectSize {
    height: 60px;
  }

  .study {
    .details {
      width: $replication_width;
      border-left: none;
    }

    .cell {
      text-align: center;
      position: relative;
      white-space: normal;
    }

    .cell.icon {
      display: block;
    }

    .cell.icon_comment {
      &:before {
        position: absolute;
        top: 5px;
        right: 5px;
        color: $purple;
      }
    }

    .replications {
      background-color: $off_white;
    }

    .badges .Badge {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.ReplicationPath {
  white-space: nowrap;
  padding-top: 20px;
  overflow: auto;

  .study {
    float: left;
    height: 54px;
    position: relative;
    width: $replication_width;
    z-index: 0;
    background-image: url("../images/subway_study.png"), url("../images/subway_path.png");
    background-repeat: no-repeat;
    background-position: 50% 20px, right 0 top 20px;
    background-size: auto auto, 100% 7px;

    .add_replication {
      //replace-text-with-dimensions('subway_add.png')
      position: absolute;
      right: 40px;
      top: 20px;
    }
  }

  .replication {
    background-repeat: no-repeat, repeat-x;
    background-position: 50% 20px, 0 20px;
    float: left;
    height: 54px;
    position: relative;

    .count {
      background: #23A6E0;
      color: #FFF;
      display: block;
      line-height: 24px;
      margin-top: -10px;
      text-align: center;
      width: 30px;
      border-radius: 4px;
    }

    &.closed {
      background-image: url("../images/subway_replication_closed.png"), url("../images/subway_path.png");
      background-position: -2px 20px;
      width: 30px;
    }

    &.open {
      background-image: url("../images/subway_replication_open.png"), url("../images/subway_path.png");
      width: $replication_width;

      .count {
        display: none;
      }
    }
  }


  .study:first-of-type {
    background-size: auto auto, 50% 7px;
  }

  .study:last-child {
    background-position: 50% 20px, left 0 top 20px;
    background-size: auto auto, 75% 7px;
  }
}