@import "../variables.scss";

ul.SearchFilter {
  list-style: none;
  width: 100%;

  & > li {
    padding: 10px;
    border-bottom: 1px solid $gray;
  }

  label {
    display: block;
  }

  button.active {
    background-color: $blue;
  }
}
