@import "../variables.scss";

.SearchResults {
  width: 100%;

  .sort {
    float: right;
    margin-right: 10px;
  }

  .more {
    text-align: center;
  }

  .searchResult {
    color: #000;
    padding: 20px;
    border-bottom: 1px solid $light_gray;

    & > td {
      padding: 20px;

      &:first-child {
        width: 100%;
      }
    }

    ul.badges {
      white-space: nowrap;

      li {
        display: inline-block;
      }
    }

    .Badge {
      display: inline-block;
      height: 50px;
      width: 50px;
      padding: 0 10px;
    }

    button.bookmark.active {
      color: $blue;
    }
  }

  li.search_nav {
    .btn {
      padding: 5px;

      .icon {
        font-size: 30px;
        font-weight: bold;
        line-height: 25px;
      }

      &:hover {
        background-color: #EEE;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
