@import "../variables.scss";
$column_width: 300px;

.StudiesTable {
  white-space: nowrap;
  position: relative;

  header, .studies, .study, .cellContents {
    display: inline-block;
  }

  .study {
    position: relative;
    width: 200px;
    vertical-align: top;
  }

  .saveNewStudy {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $green;
  }

  .discardNewStudy {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $red;
  }

  .btn.addStudy {
    position: absolute;
    top: 0;
    margin-left: 10px;
  }

  .cell {
    box-sizing: border-box;
    border-bottom: 1px solid $gray;
    position: relative;
  }

  .study .cell:not(.replication_path) {
    border-right: 1px solid $gray;
  }

  .cellContents {
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  .cell:not(.replication_path) .cellContents:hover {
    background-color: $light_blue;
    color: white;
  }

  header .cell, .cellContents {
    padding: 10px 20px;
  }

  & > header {
    background-color: $light_gray;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    float: left;

    .cell {
      text-align: right;
    }
  }

  .replication_path {
    height: 64px;
    background-color: $light_gray;
    border-top: 1px solid $gray;
  }

  .authors, .badges {
    height: 70px;
  }

  .independent_variables, .dependent_variables, .n, .power, .effect_size {
    height: 60px;
  }

  .studyModalView {
    position: absolute;
    top: -1px;
    left: 100%;
    margin-left: 10px;
    border: 1px solid $gray;
    background-color: white;
    z-index: 10;
    width: 250px;

    header, footer {
      width: 100%;
      background-color: $light_gray;
    }

    header {
      border-bottom: 1px solid $gray;
    }

    footer {
      border-top: 1px solid $gray;
    }

    ul.history {
      height: 300px;
      width: 100%;
      overflow-y: auto;
    }
  }

  form.studyModalView {
    .inputs {
      padding: 20px;
    }

    input {
      width: 100%;
      box-sizing: border-box;
    }
  }

  ul {
    list-style: none;
  }

  .study .replication_path {
    white-space: nowrap;
    position: relative;
    z-index: 0;
    background-image: url("../images/subway_study.png"), url("../images/subway_path.png");
    background-repeat: no-repeat;
    background-position: 50% 30px, right 0 top 30px;
    background-size: auto auto, 100% 7px;

    .add_replication {
      background-image: url("../images/subway_add.png");
      background-repeat: no-repeat;
      position: absolute;
      width: 25px;
      height: 38px;
      right: 40px;
      top: 30px;
    }

    .count {
      background: $blue;
      color: #FFF;
      line-height: 24px;
      text-align: center;
      width: 30px;
      border-radius: 4px;
      position: absolute;
      right: 8px;
    }

    .replicationsCount {
      position: absolute;
      text-decoration: none;
      height: 44px;
      top: 20px;
      right: -8px;
      background-repeat: no-repeat;

      &:before {
        border: solid;
        border-color: $blue transparent;
        border-width: 6px 6px 0 6px;
        border-width: 6px 6px 0 6px;
        bottom: 24px;
        content: "";
        left: 0;
        position: absolute;
      }

      &.closed {
        background-image: url("../images/subway_replication_closed.png"), url("../images/subway_path.png");
        background-position: -2px 20px;
        width: 30px;
      }
    }
  }

  .study.replication {
    .replication_path {
      height: 74px;
      background-repeat: no-repeat, repeat-x;
      background-position: 50% 30px, 0 30px;
      position: relative;
      background-image: url("../images/subway_replication_open.png"), url("../images/subway_path.png");
      height: 74px;
    }

    .authors {
      height: 60px;
    }
  }

  .study:last-child .replication_path {
    background-position: 50% 30px, right 60px top 30px;
  }

  .study.replication:last-child .replication_path {
    background-position: 50% 30px, right 112px top 30px;
    background-repeat: no-repeat;
  }

  .studies > .study:first-child > .replication_path {
    background-size: auto auto, 50% 7px;
  }
}
