@import "../variables.scss";

.StudyFinder {
  padding-top: 20px;

  .search {
    text-align: center;
    margin-bottom: 10px;

    .btn {
      margin-left: 10px;
    }
  }

  .articles {
    overflow-y: auto;
    padding: 0 20px;
  }

  .article {
    padding: 10px;
    border-top: 1px solid $gray;

    .title {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .authors {
      font-size: 14px;
    }

    &:hover {
      background-color: $blue;
      color: white;
      cursor: pointer;
    }
  }
}
